@media screen and (max-width : 576px) {

.normal {
    display : none ;
}
.display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid orange;
    padding: 12px 16px;
    margin: 0;
}
#banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 18px;
    margin: 20px 16px;
}
.banner-title {
    font-size: 32px;
    
}
.banner-subtitle {
    font-size: 14px;
    text-align: center;
    padding: 0 auto;
}
.banner-details {
    padding: 0;
}
br {
    display: none;
}
/* standard curriculum section */
.standard-curriculum , .story-card-container {
    margin: 40px 16px;
    gap: 10px;
}
.card-container {
    grid-template-columns: repeat(1 , 1fr);
}
.arrow {
    display: none;
}
.curriculum-head {
    font-size: 26px;
}
/* Our Story */
.main-card {
    display: none;
}
.cards > h3 {
    font-size: 9px;
    padding: 20px 22px;
}
/* Footer */
.footer-container {
    flex-direction: column;
    gap: 32px;
    padding: 65px 16px;
}
.end-sub {
    text-align: center;
}
}