@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* variable */
:root {
    --btn1-clr : orange;
    --primary-clr :black;
    --secondary-clr : skyblue;
    --card-clr : 202020 ;
    --card-sub-clr : 808080;
    --purple-clr : 8700FF ;
    --bg-clr1 : 3CD8E8;
    --blue-clr : 05D4DF;

}

*{
    padding: 0;
    margin: 0;
    font-family: "Quicksand", serif;
}
.display {
    display: none;
}
.img {
    width: 30px;
    height: 30px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 140px;

}
.nav-item > li {
    list-style: none;
}
.nav-item > li > a {
    text-decoration: none;
}

.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    font-size: 20px;
    font-weight: medium;
}
.logo-title {
    font-weight: bold;
    font-size: 32px;
}
.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.btn1 {
    text-align: center;
    background-color: var(--btn1-clr) ;
    color: white ;
    padding: 10px 60.5px;
    border-radius: 12px;
    border: none;
    font-size: 20px;
    font-weight: 600px;

}
.home {
    color: var(--btn1-clr);
}
.about {
    color: var(--secondary-clr);
}
.Facilities {
    color: aquamarine;
}
.Admission {
    color: #5D58EF;
}

/* Banner Section */
#banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0 140px;
}
.banner-details {
    display: flex;
    flex-direction: column;
    padding: 122px 0;
}
.banner-title {
    font-size: 56px;
    font-weight: bold;
    padding-bottom: 24px;

}
.banner-subtitle {
    font-size: 20px;
    font-weight: 400px;
    color: black;
    text-align: start;
    padding-bottom: 24px;
    
}
.empower {
    color: var(--btn1-clr);
}
.student {
    color: var(--secondary-clr);
}
.btn2 {
    padding: 10px 46px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    font-weight: bold;
}
.banner-img > img {
    width: 100%;
}

/* Main Section */
article {
    background-image: url(../assets/bg.png);
    background-size: cover;
}

/* Standard Curriculum */
.standard-curriculum {
    margin: 60px 140px 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px;
}
.curriculum-head {
    text-align: center;
    color: black;
    font-size: 46px;
    font-weight: bold;
}
.card-container {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3 , 1fr);
    gap: 29px;
}
.card {
    display: flex;
    flex-direction: column;
    gap:32px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card > h3 {
    font-size: 24.5px;
    font-weight: bold;
}
.card > p {
    font-weight: medium;
    font-size: 15px;
    color: #808080;
    padding: 0 41px;
}
.card1 {
    border-radius: 15px;
    background-image: linear-gradient(-180deg , #DEF5FF 0%, #FFFFFF 40% );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
  
}
.card2 {
    border-radius: 15px;
    background-image: linear-gradient(-180deg , #FFF4DC 0%, #FFFFFF 40% );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 0;
}
.card3 {
    border-radius: 15px;
    background-image: linear-gradient(-180deg , #EEE1FF 0%, #FFFFFF 40% );
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 60px 0;  
}
.btn-card1 {
    background-color: transparent;
    color: #64C8FF;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.btn-card3 {
    background-color: transparent;
    color: #8700FF;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
.btn-card2 {
    background-color: transparent;
    color: orange;
    border: none;
    font-size: 15px;
    font-weight: bold;
}
card > img {
    max-width: 136px;
    width: 100%;
}
.arrow-left , .arrow-right {
    background-color: orange;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: auto;
}
.arrow {
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    color: white;
    font-size: 45px;
    font-weight: solid;

}
/* Our story */
#story {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-image: url(../assets/bg.png) , linear-gradient(360deg , #fea10152 0% , #FFFFFF 100%);
}
.story-card-container {
    display: flex;
    gap: 19px;
    margin: 60px 140px;
}
.side-card {
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    gap: 19px;
}
.main-card {
    display: flex;
    flex-direction: column;
    gap: 47px;
    text-align: start;
    background-color: #FFFFFF;
    border-radius: 16px;


}
.main-card > h3 {
    font-size: 24px;
    font-weight: bold;
    padding: 0 38px;
}
.main-card > p {
    font-weight: medium;
    font-size: 15px;
    color: #808080;
    padding: 0px 38px;
}
.main-card > img {
    width: 100%;
    border-top-left-radius: 16px ;
    border-top-right-radius: 16px;
}
.date {
    background-color: #64C8FF;
    padding: 14px 19px;
    border-radius: 47px;
    z-index: 1;
    margin-right: 328px;
    margin-left: 38px;
    font-weight: medium;
    font-size: 15px;
    color: #FFFFFF;
    position: relative;
    top:-290px;
}
.dates {
    background-color: green;
    z-index: 1;
    padding: 14px 19px ;
    border-radius: 47px;
    position: relative;
    top: -138px;
    font-weight: medium;
    font-size: 15px;
    color: #FFFFFF;
    margin-right: 90px;
    margin-left: 38px;
}
.clr-d {
    background-color: blue;
}
.side-card img {
    width: 100%;
    border-top-left-radius: 16px ;
    border-top-right-radius: 16px;   
}
.cards {
    display: flex;
    flex-direction: column;
    text-align: start;
    border-radius: 16px;
    background-color: #FFFFFF;
    gap: 37px;

}
.cards > h3 {
    font-size: 15.5px;
    font-weight: bold;
    padding: 0px 38px;
}
.btn-cont {
    padding-bottom: 60px;
}
/* Footer */
footer {
    background-color: #01ACFD;
}
.footer-container {
    padding: 123px 228px 174px 140px;
    display: flex;
    gap: 170px;
}
.footer-head {
    display: flex;
    align-items: center;
    text-align: start;
}
.edu-title {
    color: white;
    font-size: 42.14px;
    font-weight: bold;
    line-height: 0.93;
}
.edu-sub {
    font-size: 20px;
    font-weight: 400px;
    color: white;
    padding-top: 35px;
}
.footer-head > img {
    width: 80px;
    height: 81px;
    background-color: white;
    border-radius: 20px;
}
.footer-mid {
    display: flex;
    gap: 32px;
    flex-direction: column;
}
.footer-mid > ul > li > a {
    text-decoration: none;
    color: white;
}
.footer-mid > ul > li {
    list-style-type: none;
}
.footer-mid > ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.abt-schl {
    font-size: 24px;
    font-weight: bold;
    color: white;
}
.end-title {
    font-size: 26px;
    font-weight: bold;
    color: white;
}
.footer-end {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.marquee {
    margin: 10px;
}